* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px auto;
}
.child1 {
  width: 800px;
  background: gray;
}
input[type="text"],
[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.child2{
  width: 900px;
  height: 600px;
}

.profilePic{
  width: 150px;
  height : 150px;
}

